/*common*/

* {font-family: 'Montserrat', sans-serif;}

body {
	min-width: 1000px;
}

.page-title {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 111px;
	margin: 0px;
}

.page-title-white {
	color: #fff;
	font-size: 38px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 103px;
	padding-left: 6px;
	margin: 0px;	
}

.page-subtitle {
	color: gray;
	font-size: 16px;
	font-family: Droid Serif, sans-serif;
	font-style: italic;
	text-align: center;
	margin: 0;
	margin-top: 13px;
	padding-bottom: 80px;
}

/*header*/

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

.content-center {
	max-width: 1000px;
	margin: 0 auto;
}

.promo	{
	background-image: url(../img/promo-bcg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 185px;
}

.promo__menu {
	padding-top: 35px;
	padding-bottom: 180px;
}

.promo__menu__left {
	width: 24.8%;
	display: inline-block;
	padding-left: 38px;
}

.promo__menu__right {
	width: 69%;
	display: inline-block;
	text-align: right;
}

.promo__menu nav {
	display: inline-block;
}

.promo__menu nav ul {
	padding: 0;
}

.promo__menu ul li {
	display: inline-block;
	list-style: none;
	vertical-align: super;
}


.promo__menu ul li:nth-child(1) {
	padding-right: 37px;
}

.promo__menu ul li:nth-child(2) {
	padding-right: 37px;
}

.promo__menu ul li:nth-child(3) {
	padding-right: 39px;
}

.promo__menu ul li:nth-child(4) {
	padding-right: 36px;
}

.promo__menu ul li:nth-child(5) {
	padding-right: 13px;
}

.promo__menu ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

.promo__menu ul li a:hover {
	color: #fed136;
	opacity: 0.7;
	transition: 0.5s;
}

.promo__info {
	text-align: center;
}

.promo__info span {
	color: #fff;
	font-size: 38px;
	font-family: Droid Serif, sans-serif;
	font-style: italic;
}

.promo__info h1 {
	color: #fff;
	font-size: 71px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 20px;
	margin-top: 31px;
	margin-bottom: 70px;	
}

.promo__info a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;	
}

.promo__info a:hover {
	background-color: #e5b91f;
	transition: 0.5s;
}

.btn {
	background-color: #fed136;
	border: 1px solid #000;
	border-radius: 3px;
	padding: 22px 52px;
}

/*services*/

.services {
	padding-bottom: 118px;
}

.content-center-service {
	max-width: 987px;
	margin: 0 auto;
}

.services__item {
	width: 33%;
	display: inline-block;
	text-align: center;
	padding-top: 13px;
}


.services__item span {
	display: inline-block;
	border-radius: 180px;
	border: 3px solid #FFD509;
	margin: 10px auto;
	margin-top: 13px;
	padding: 34px;
}

.services__item h3 {
	font-size: 17px;
	font-weight: bold;
	margin: 11px;
}

.services__item p {
	width: 88%;
	color: gray;
	font-size: 13.6px;
	font-family: 'Roboto Slab', serif;
	line-height: 1.5;
	font-weight: 400;
	margin: 0 auto;
}

.service__item--basket {
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	background-position: 15px 12px;
}

.service__item--laptop {
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	background-position: -49px 12px;
}

.services__item--locked {
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	background-position: -115px 12px;	
}


/*portfolio*/

.portfolio {
	background-color: #f7f7f7;
	text-align: center;
	padding-bottom: 95px;
}
 
.content-center-portfolio {
	max-width: 1000px;
	margin: 0 auto;
}

.content-center-portfolio a {
	color: #000;
	text-decoration: none;
}

.content-center-portfolio a:hover div span {
	color: #fed136;
	opacity: 0.7;
	transition: 0.3s;
}

.portfolio__item {
	width: 29%;
	display: inline-block;
	background: #fff;
	text-align: center;
	margin: 23px 15px;
	margin-bottom: 29px;
}


.portfolio__item img {
	width: 100%;
	padding-bottom: 26px;
}

.portfolio__item span {
	font-size: 17px;
	font-weight: bold;
	padding-right: 2px;
}

.portfolio__item p {
	color: gray;
	font-size: 14px;
	font-family: Droid Serif, sans-serif;
	font-style: italic;
	margin: 0;
	padding-top: 3px;
	padding-bottom: 25px;
}

/*about us */

.about {
	padding-bottom: 7px;
}

.about__item {
	display: inline-block;
	text-align: center;
	padding-bottom: 90px;
}

.content-center-about {
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

.about__item:after {
	content: "";
	display: block;
	width: 2px;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	background: #f6f6f6;
	top: 0;
	bottom: 0;
	z-index: 1;
}

.about__item span {
	display: block;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: -0.5px;
}

.about__item p {
	color: gray;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	line-height: 1.5;
	margin-top: 12.5px;
	margin-bottom: 0;
}

.about__item--left {
	width: 33%;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.about__item--center {
	width: 28.5%;
	display: inline-block;
	text-align: center;
	position: relative;
	z-index: 2;
}

.about__item--center--img {
	display: inline-block;
	border: 5px solid #F1F1F1;
	border-radius: 50%;
	overflow: hidden;
}

.about__item--center img {
	width: 172px;
	vertical-align: middle;
}

.about__item--right {
	width: 33%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.about__item--center-final {
	width: 105px;
	height: 105px;
	background-color: #FFD509;
	border: 5px solid #F1F1F1;
	border-radius: 180px;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.3;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 120px;
	padding: 32px;
	position: relative;
	z-index: 2;

}

/*team*/

.team {
	background-color: #f7f7f7;
	text-align: center;	 
}

.content-center-team {
	max-width: 838px;
	margin: 0 auto;
}

.team__item {
	width: 33%;
	display: inline-block;
	text-align: center;
	padding-top: 24px;
}

.team__item span {
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding-top: 16px;
}

.team__item p {
	color: gray;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	margin: 6px;
}

.team__paragraf {
	width: 70%;
	color: gray;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	line-height: 1.5;
	margin: 0 auto;
	padding-top: 36px;
	padding-bottom: 115px;

}

.team__item a {
	display: block;
	width: 38px;
	height: 38px;
	border: 2.5px solid #000;
	border-radius: 180px;
	text-decoration: none;
	background-image: url(../img/social.png);
}

.team__item ul {
	padding: 0px;
	margin: 10px;
}

.team__item ul li {
	display: inline-block;
	list-style: none;
}

.team__twitter {
	background-position: 0px -17px;	
}

.team__twitter:hover {
	width: 42.5px;
	height: 42.5px;
	border: none;
	background-image: url(../img/social.png);
	background-position: -438px -18px;	
}

.team__facebook {
	background-position: -51px -17px;	
}

.team__facebook:hover {
	width: 43px;
	height: 43px;
	border: none;
	background-image: url(../img/social.png);
	background-position: -490px -18px;	
}

.team__pinterest {
	background-position: -100.5px -17px;	
}

.team__pinterest:hover {
	width: 42.5px;
	height: 42.5px;
	border: none;
	background-image: url(../img/social.png);
	background-position: -540px -18px;	
}

.team__google {
	background-position: -149px -17px;	
}

.team__google:hover {
	width: 42.5px;
	height: 42.5px;
	border: none;
	background-image: url(../img/social.png);
	background-position: -588px -18px;	
}

/*partners*/

.partners {
	padding-top: 63px;
	padding-bottom: 62px;
	text-align: center;
}

.partners img {
	padding-left: 17px;
	padding-right: 19px;
	vertical-align: middle;
}

/*contact us*/

.contact {
	text-align: center;
	background: url(../img/contact-bcg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 87px;
}

.contact-btn {
	display: block;
	color: #fff;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;	
	background-color: #fed136;
	border: 1px solid #000;
	border-radius: 3px;
	padding: 22px 48px;
	margin: 4px auto;
}

.contact-btn:hover {
	background-color: #e5b91f;
	transition: 0.5s;	
}

form {
	max-width: 1000px;
	margin: -3px auto;
	padding: 26px;
}
.contact__input {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.contact input {
	box-shadow: 0 0 1px 1px #A9A9A9;
	width: 100%;
	height: 52px;
	color: #bbbbbb;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border: 1px solid #fff;
	border-radius: 3px;
	padding-left: 14px;
	margin-bottom: 27px;
	box-sizing: border-box;

}

.contact__textarea {
	width: 46%;
	display: inline-block;
	margin-left: 20px;
}

.contact textarea {
	width: 415px;
	height: 175px;
	box-shadow: 0 0 1px 1px #A9A9A9;
	color: #bbbbbb;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 16px;
	padding-left: 26px;
}

/*footer*/

.copyright {
	max-width: 1000px;
	text-align: center;
	margin: 5px auto;
	padding-right: 5px;
}

.copyright span {
	color: gray;
	font-size: 14px;	
}

.copyright ul {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}

.copyright ul li {
	display: inline-block;
	list-style: none;
	padding-left: 5px;
}

.copyright a {
	display: block;
	width: 40px;
	height: 40px;
	text-decoration: none;
	background-image: url(../img/social.png);
}

.copyright__twitter {
	background-position: -213px -19px;
}

.copyright__twitter:hover {
	background-image: url(../img/social.png);
	background-position: -440px -19px;
}

.copyright__facebook {
	background-position: -263px -19px;
}

.copyright__facebook:hover {
	background-image: url(../img/social.png);
	background-position: -490px -19px;
}

.copyright__pinterest {
	background-position: -313px -19px;
}

.copyright__pinterest:hover {
	background-image: url(../img/social.png);
	background-position: -540px -19px;	
}

.copyright__google {
	background-position: -363px -19px;
}

.copyright__google:hover {
	background-image: url(../img/social.png);
	background-position: -590px -19px;
}

.copyright__left {
	display: inline-block;
	width: 33%;
}

.copyright__center {
	display: inline-block;
	width: 33%;
}

.copyright__rigth {
	display: inline-block;
	width: 33%;	
}